.datamanager-layout {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  min-height: 0;
  min-width: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.datamanager {
  flex: 1 1 0%;
  min-height: 0;
  min-width: 0;
  width: 100%;
  position: relative;
  z-index: 1;

  #label-studio-dm [class*="Annotations_annotation_selected"] {
    background: var(--color-primary-surface-content);
  }
}

.datamanager * {
  font-family: var(--font-sans) !important;
}
